/* Write your CSS here */
.matchCardContainer {
  background-color: #0f172a;
  color: #ffffff;
  font-family: 'Bree Serif';
  margin: 20px;
  text-align: center;
  height: 500px;
  width: 350px;
}
.li2 {
  list-style-type: none;
}
.imagelogo1 {
  height: 200px;
  width: 200px;
  margin-top: 50px;
}
.wonClass {
  color: #18ed66;
  font-size: 28px;
  font-weight: bold;
}
.lossClass {
  color: #e31a1a;
  font-size: 28px;
  font-weight: bold;
}
.resultPara {
  font-size: 20px;
}
